@keyframes boxAnimation {
    0% {
        border: 3px solid red;
    }
    25% {
        width: 100%;
    }
    50% {
        background-color: greenyellow;
    }
    100% {
        border: 3px solid red;
        width: 80%;
    }
}

@keyframes blinkAnimation {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes blinkAnimationIterate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}


.box {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border: 1px solid #aaa;
    background-color: #ccc;

    animation-name: blinkAnimationIterate;
    animation-iteration-count: infinite; /* number or infinite */
    animation-delay: 2s;
    animation-direction: reverse; /* normal, reverse, alternate (forwards, then backwards) and alternate-reverse (backwards then forwards)*/
    /* animation-name: boxAnimation; */
    /* animation-name: blinkAnimation; */
    animation-duration: 2s;
    animation-fill-mode: forwards;
}