[website="https://colosim.com/colosseum.html"] {
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: blue;
    border: 10px solid blue;
}

[website="https://colosim.com/colosseum.html"]:hover {
    background-color: blueviolet;
    border-color: black;
}

p.child:first-child {
    background-color: aqua;
}

p.child:last-child {
    background-color: black;
    color: white;
}

.test {
    width: 100%;
    font-size: 30px;
    padding: 10px 0px;
    color: #888;
    opacity: .45;
}
.test:focus {
    border: 2px solid black;
    color:black;
    outline: 0px;
    opacity: 1;
}

input:disabled{
    border: 1px solid red;
}

input:enabled{
    border: 1px solid green;
}

p.para:not(.graph) {
    color: yellow;
    background-color: black;
    /* display: none */
}

.block {
    display: inline-block;
    float: right;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    position: relative;
}
.block::before {
    display: inline-block;
    content: '';
    background-color: black;
    position: absolute;
    left: -200px;
    top: 0;
    width: 200px;
    height: 200px;
}

.block:hover::after {
    display: inline-block;
    content: '';
    background-color: pink;
    position: absolute;
    left: 0;
    top: 200px;
    width: 200px;
    height: 200px;
}